$primary-color: #858AFFFF;
$primary-font-color: #47464BFF;
$secondary-font-color: #B9BABF;


//Buttons
.btn-outline {

  button[type="button"] {
    all: unset;
    padding: 12px 40px;
    border: 1px solid $primary-color;
    border-radius: 10px;
    font-size: 12px;
    color: $primary-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  button[type="button"]:active {
    transition: 300ms;
    transform: scale(0.95);
    background-color: #f5f4f4;
  }
}

.btn-content {
  button[type="button"] {
    all: unset;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    background-color: $primary-color;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  button[type="button"]:active {
    transition: 300ms;
    transform: scale(0.95);
    background-color: rgb(98, 103, 213);
  }
}

button[type="button"]:hover {
  cursor: pointer;
}


//Search Bar